@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

    button:hover{cursor: pointer}
    button {
      box-sizing: border-box;
  padding: 0; margin: 0;
  font: 300 1em/1.5 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  text-decoration: none;
  color: #111;
      background: transparent; outline: none;
      position: relative;
      border: 2px solid #111;
      padding: 15px 50px;
      overflow: hidden;
    }

    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 800;
      font-size: .8em;
      opacity: 0;
      transform: translate(100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover .buttonSend{opacity: 0; transform: translate(-100%,0)}
      button .buttonSend{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 800;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }


.proimg {
	border-radius:50%;
}

.divbgimg {
	background-image: url('../img/proimg2.jpg');
	background-size: cover;
	height: 100vh;
}

.nameText {
	text-align: right!important;
	position: absolute;
    bottom: 25px;
    right: 20px;
}
.degText {
	text-align: right!important;
	position: absolute;
    bottom: 4px;
    right: 20px;
}

.secondaryTextContact{
	color: #000000!important;
}
.pcolor{
	color: #dedede;
	text-align: justify;
}

.skillPhotos{
	height: 40%;
	width: 40%;
}

.mb-5skillvue {
    margin-bottom: 1.5rem!important;
}
.mb-5skilland {
    margin-bottom: 1rem!important;
}
.mb-5skillphp {
    margin-bottom: 2.5rem!important;
	margin-top: 2rem!important;
}
.mb-5skillsql {
    margin-bottom: 3.5rem!important;
	margin-top: 2rem!important;
}
